<!DOCTYPE html>
<html>
  <head>
    <title>form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/add" enctype="multipart/form-data" method="post">
      <div class="form-group">
        Product Name : <input type="text" name="productName"><br>
        Product category : <input type="text" name="category"><br>
        Product Price : <input type="text" name="price"><br>
        Image : <input type="file" class="form-control-file" name="image"><br>
        <input type="submit" value="Get me the stats!" class="btn btn-default">            
      </div>
    </form>
  </body>
</html>
